/*======================================================*/
/*====================GLOBAL STYLE======================*/
/*======================================================*/
body {
    font-family: sans-serif, serif;
    width: 100%;
    font-size: 8pt;
}

/*======================================================*/
/*========================STRUCTUR======================*/
/*======================================================*/
.header {
    padding: 0.1em 0.5em;
}

.main-header img {
    background-position: left;
    background-repeat: no-repeat;
    width: 20em;
}

.address {
    font-size: 5pt;
    padding: -0.7em 0em;
}

.wrapper {
    padding: 0.5em;
}

h4.title {
    padding: -1.2em 0em;
}

.order_detail table.identity {
    float: right;
}

.order_detail table.identity td.row {
    width: 15em;
}

h5.order_by {
    padding: -1.5em 0em;
}

table.vehicle td.row {
    width: 7em;
}

.detail {
    padding: 0.2em;
}

table.itinerary td.row-10 {
    width: 10em;
}

table.itinerary td.row-full {
    width: 50em;
}

.footer {
    margin: 0px;
    padding: 0px;
    position: relative;
}
.confirmed_by {
    margin-left: 500px;
}

.left-col {
    margin-top: 10px;
    float: left;
    position: relative;
}

.right-col {
    margin: -20px -300px -10px;
    float: right;
    position: relative;
}

.signature {
    margin: 100px 0px;
}

.signature td {
    width: 350px;
}

.signature td p.confirm {
    margin-top: 40px;
}
/*======================================================*/
/*========================MARGIN========================*/
/*======================================================*/
.m-r-10 {
    margin-left: 100px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

/*======================================================*/
/*========================TYPOGRAPHY====================*/
/*======================================================*/
.uppercase {
    text-transform: uppercase;
}

.camel {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.font-10 {
    font-size:10pt;
}

.font-15 {
    font-size:15pt;
}

.font-20 {
    font-size:20pt;
}

.font-bold {
    font-weight: bold;
}
