/*==========================
	Custom css
==========================*/
.h2{ font-family: 'Open Sans', sans-serif; color: #58575d;  font-size: 38px;  line-height: 38px;  margin-bottom:20px; font-weight: 700; }
.h2.text-white{ color:#fff; }

/* Footer Overlay */
.footer-overlay .footer-bottom{ background-color: rgba(0, 0, 0, 0.85); }
.footer-overlay .footer-top{ background-color: rgba(0, 0, 0, 0.8); }

/* overlay-50 */
.overlay-50:after{width: 50%;}

/* Home Page 2 */
.our-projects-block .dez-img-effect img {
    height: 400px;
    object-fit: cover;
}
/* header-topbar */
.header-style-1 .top-bar .dez-topbar-left{ padding:0 0; }

/* Background Color Code */
.bg-green{background-color:#38c071;}
.bg-red{background-color:#ec774b;}
.bg-yello{background-color:#edbf47;}
/* Text Color */
.text-green{color:#38c071;}
.text-red{color:#ec774b;}
.text-yello{color:#edbf47;}

/* icon box */
.icon-box [class*="icon-bx"]{  width:100%; position:relative; background-color:rgba(0, 0, 0, 0.03) }
.icon-box [class*="icon-bx"]:after{ width:60px; height:3px; position:absolute; content:""; bottom:0; background:#fff; left:50%; margin-left:-30px; }
.icon-box .icon-content:after{ width:100%; height:10px; background-color:rgba(0, 0, 0, 0.03); position:absolute; content:""; bottom:0; left:0;}
.icon-box .icon-content{ position:relative; }
.about-block .row { margin-top:-120px; }

/* Our Service */
.box-shadow .dez-box{ border-radius:4px; overflow:hidden; box-shadow: 5px 6px 0 0 #e3e3e3; }

/* Gallery Filters */
.gallery-filters{  } 
.gallery-filters ul li { display:inline; list-style:none; font-size:18px; }

.gallery-filters ul{ border-radius:4px; display:inline-block; margin:auto;  border: 1px solid #cfcfcf;}
.gallery-filters ul li a{ color:#b6b6b6;  font-family:'Open Sans', sans-serif; padding: 8px 15px;}  

/* News Info */
.news-info ul li{  display: inline-block; font-size: 15px; font-weight: 600;line-height: 24px; list-style: outside none none; padding: 0 5px;}
.news-info ul{ margin:0; }

/* Footer */
.site-footer .widget_services ul li a{ color:#fff; }
.site-footer .widget_services ul li{ border-bottom-color:rgba(255, 255, 255, 0.2); }
/* Footer bottom */
.footer-info-box{ border:1px solid rgba(255, 255, 255, 0.2); }
.newsletter input{ height:44px; }
.newsletter .input-group{ background-color:#fff; padding-right:2px; border-radius: 4px; overflow: hidden;}
.newsletter .input-group-btn{ }

/* dez-social-icon */
.footer-info-box .dez-social-icon li a { width:38px; height:38px; border:none; background:#fff; line-height:38px; font-size:16px; border-radius:100%; padding:0;  }
.footer-info-box .dez-social-icon{  border-bottom: 1px dashed rgba(255, 255, 255, 0.2); display: inline-block; margin: 0 -3px; padding: 0 0 15px; text-align: center;}

/* team */
.round-box{transition: all 0.5s ease 0s; left:0px;  margin: 0 auto; position:relative; z-index:2; width:195px; height:195px; border-radius:100%; overflow:hidden; padding:10px; display:block; border:1px solid #fff; }
.team-mamber{ width:100%; height:100%; padding:10px; overflow:hidden; border-radius:100%; background-color:#fff;}
.team-mamber img{ transform: scale(1.5) }
.sosial-icon-team{ transition: all 0.5s ease 0s; border-radius: 100%; display: block;height: 195px; overflow: hidden; position: absolute; right: 50%;top: 0; width: 195px;  margin-right: -97px;}
.sosial-icon-team ul.dez-social-icon li a, .sosial-icon-team ul li { width:100%; display:block;  color:#fff;}
.sosial-icon-team ul.dez-social-icon {  margin-right: -5px; margin-top: 28px; width: 80px;  float: right; }
.dez-team{position:relative;}
.dez-team:hover .sosial-icon-team{ margin-right: -117px; transition: all 0.5s ease 0s;}
.dez-team:hover .round-box{transition: all 0.5s ease 0s; left: -20px;}
.team-info{ border-color:#d3d3d3; margin-top: -27px;}
.team-social-btn ul li a{ background-color:#c0c0c0; }

/* testimoniyal */
.client-pic li{ position:relative; list-style:none; display:inline-block;  }
.client-pic li a { border: 2px solid; border-radius: 100%; display: block; height: 80px; overflow: hidden; width: 80px;}
.client-think{ position:relative; max-width:780px; margin:0px auto; background-color:#E8E8E7; border-radius:30px; }
.client-think:before{ content: "\f10e";  font-family: "FontAwesome";  bottom: 0;  color: rgba(0, 0, 0, 0.1); font-size: 80px; position: absolute; right: 30px;}
.client-pic li.active:after{ content: "\f0d7"; font-family: "FontAwesome"; color: #e8e8e7;display: block; font-size: 60px; left: 50%; margin-left: -15px; overflow: hidden; position: absolute; top: -77px;}

/* Footer Image */
 


/* Responsive */
@media only screen and (max-width: 767px) {
	.h2{ font-size:24px; line-height:28px; }
	.about-block .row{ margin:30px 0 0 0; }
	.about-block .row .icon-bx-wraper{ }
	.footer-info-box .text-right{ text-align:center; margin-top:30px; }
	.newsletter strong{ text-align:center; display:block;  }
}
